@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model WebApplication.Domain.Book

@{
    ViewData["Title"] = "Show books";
}

<div>
    <div style="float: left">
        <h4>@Model.Title</h4>
    </div>
    <div style="float: left">
        @if (@Model.Quantity <= 0)
        {
            <a class="text-danger ml-1" disabled="">
                <i class="fa fa-trash-alt fa-lg">Out of stock!</i>
            </a>
        }
    </div>
</div>

<hr/>
<div class="row" style="clear: both">
    <div class="col-md-6">
        <form asp-action="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" disabled/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" class="form-control" disabled/>
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ISBN" class="control-label"></label>
                    <input asp-for="ISBN" class="form-control" disabled/>
                    <span asp-validation-for="ISBN" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" disabled/>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishedDate" class="control-label"></label>
                <input asp-for="PublishedDate" class="form-control" type="date" asp-format="{0:yyyy-MM-dd}" disabled/>
                <span asp-validation-for="PublishedDate" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> Back to List</a>
                </div>
            </div>
        </form>
    </div>
    @* <div class="col-md-6"> *@
    @*     @if (!string.IsNullOrEmpty(Model.ImageFileName)) *@
    @*     { *@
    @*         <img height="400px" width="400px" src="~/uploads/@Model.ImageFileName" alt="my img"/> *@
    @*     } *@
    @* </div> *@
    <div class="col-md-6">
        @if (Model.ImageBytes != null)
        {
            <img height="400px" width="400px" src="data:image/jpeg;base64,@Convert.ToBase64String(@Model.ImageBytes)"/>
        }
    </div>
</div>

<h2>Reviews</h2>
@if (!Model.BookReviews.Any())
{
    <p>No reviews yet!</p>
}
@foreach (var review in Model.BookReviews)
{
    <div class="bookReview">
        <p>
            <span>@review.ReviewerName</span> @review.CreatedDate.ToString("dd/MM/yyyy")
        </p>
        <p>@review.Text</p>
    </div>
}

<br/>
<h2>Add review</h2>

@if (SignInManager.IsSignedIn(User))
{
    <form action="/MemberBooks/AddReview/@Model.Id" method="post" enctype="application/x-www-form-urlencoded">
        <label for="reviewerName">Name</label>
        <br>
        <input type="text" name="reviewerName">
        <br><br>
        <label for="text">Enter review</label>
        <br>
        <textarea type="text" name="text" style="width: 100%"></textarea>
        <br><br>
        <input type="submit" value="Submit" class="btn btn-secondary btn-block">
    </form>
}
else
{
    <p>Please <a asp-area="Identity" asp-page="/Account/Login">Login</a> to add a review</p>
}